<head><link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="cat-details">
    <h1><%= cat.name %></h1>
    <p><span>Age:</span> <%= cat.age %></p>
    <p><span>Breed:</span> <%= cat.breed %></p>
    <p><span>Adopted:</span> <%= cat.isAdopted ? "Yes" : "No" %></p>
  </div>
  
  <div class="link-container">
    <a href="/">Home</a>
    <a href="/cats/<%= cat._id %>/edit">Edit Cat</a>
  </div>  
</body>
